USE [master]
GO
/****** Object:  Database [ed77233]    Script Date: 12-05-2015 22:30:41 ******/
CREATE DATABASE [ed77233]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ed77233', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ed77233.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ed77233_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ed77233_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ed77233].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ed77233]
GO
/****** Object:  Table [dbo].[Ano]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ano](
	[idAno] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_Classificacao]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Classificacao](
	[idClassificacao] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Classificacao] PRIMARY KEY CLUSTERED 
(
	[idClassificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Clientes]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Clientes](
	[faixaEtaria] [varchar](50) NULL,
	[idCliente] [uniqueidentifier] NOT NULL,
	[idDistrito] [int] NULL,
	[idProfissao] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Composicao]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Composicao](
	[idComposicao] [int] NOT NULL,
	[percentagem] [decimal](18, 2) NULL,
	[designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Composicao] PRIMARY KEY CLUSTERED 
(
	[idComposicao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Conceitos]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Conceitos](
	[idConceito] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Marcas] PRIMARY KEY CLUSTERED 
(
	[idConceito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Dias]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Dias](
	[idDia] [int] NOT NULL,
	[Dia] [nchar](10) NULL,
	[idMes] [int] NOT NULL,
 CONSTRAINT [PK_DIM_Dias_1] PRIMARY KEY CLUSTERED 
(
	[idDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_DiasSemana]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_DiasSemana](
	[idDia] [int] NULL,
	[DiaSemana] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Distritos]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Distritos](
	[idDistrito] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
	[idPais] [int] NULL,
 CONSTRAINT [PK_DIM_Distritos] PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Estacao]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Estacao](
	[idEstacao] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Estacao] PRIMARY KEY CLUSTERED 
(
	[idEstacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Meses]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Meses](
	[idMes] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
	[Ano] [nchar](10) NULL,
 CONSTRAINT [PK_DIM_Meses] PRIMARY KEY CLUSTERED 
(
	[idMes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_NumeroSemana]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_NumeroSemana](
	[idDia] [int] NOT NULL,
	[NumeroSemana] [int] NULL,
 CONSTRAINT [PK_DIM_NumeroSemana] PRIMARY KEY CLUSTERED 
(
	[idDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIM_Paises]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Paises](
	[idPaisProducao] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Paises] PRIMARY KEY CLUSTERED 
(
	[idPaisProducao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_PaisProducao]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_PaisProducao](
	[idPaisProducao] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Pais] PRIMARY KEY CLUSTERED 
(
	[idPaisProducao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Produtos]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Produtos](
	[idProduto] [int] NOT NULL,
	[referencia] [varchar](50) NULL,
	[cor] [varchar](50) NULL,
	[tamanho] [varchar](50) NULL,
	[idComposicao] [int] NULL,
	[idConceito] [int] NULL,
	[idClassificacao] [int] NULL,
	[idPaisProducao] [int] NULL,
	[idEstacao] [int] NULL,
 CONSTRAINT [PK_DIM_Produtos_1] PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIM_Profissao]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIM_Profissao](
	[idProfissao] [int] NOT NULL,
	[Designacao] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_Profissao] PRIMARY KEY CLUSTERED 
(
	[idProfissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACT_Vendas]    Script Date: 12-05-2015 22:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_Vendas](
	[PVP] [decimal](18, 3) NULL,
	[Disconto] [decimal](18, 3) NULL,
	[idVenda] [uniqueidentifier] NULL,
	[idCliente] [uniqueidentifier] NULL,
	[idDia] [int] NULL,
	[idProduto] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIM_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Clientes_DIM_Distritos] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[DIM_Distritos] ([idDistrito])
GO
ALTER TABLE [dbo].[DIM_Clientes] CHECK CONSTRAINT [FK_DIM_Clientes_DIM_Distritos]
GO
ALTER TABLE [dbo].[DIM_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Clientes_DIM_Profissao] FOREIGN KEY([idProfissao])
REFERENCES [dbo].[DIM_Profissao] ([idProfissao])
GO
ALTER TABLE [dbo].[DIM_Clientes] CHECK CONSTRAINT [FK_DIM_Clientes_DIM_Profissao]
GO
ALTER TABLE [dbo].[DIM_Dias]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Dias_DIM_Meses] FOREIGN KEY([idMes])
REFERENCES [dbo].[DIM_Meses] ([idMes])
GO
ALTER TABLE [dbo].[DIM_Dias] CHECK CONSTRAINT [FK_DIM_Dias_DIM_Meses]
GO
ALTER TABLE [dbo].[DIM_Dias]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Dias_DIM_NumeroSemana] FOREIGN KEY([idDia])
REFERENCES [dbo].[DIM_NumeroSemana] ([idDia])
GO
ALTER TABLE [dbo].[DIM_Dias] CHECK CONSTRAINT [FK_DIM_Dias_DIM_NumeroSemana]
GO
ALTER TABLE [dbo].[DIM_DiasSemana]  WITH CHECK ADD  CONSTRAINT [FK_DIM_DiasSemana_DIM_Dias] FOREIGN KEY([idDia])
REFERENCES [dbo].[DIM_Dias] ([idDia])
GO
ALTER TABLE [dbo].[DIM_DiasSemana] CHECK CONSTRAINT [FK_DIM_DiasSemana_DIM_Dias]
GO
ALTER TABLE [dbo].[DIM_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Produtos_DIM_Classificacao] FOREIGN KEY([idClassificacao])
REFERENCES [dbo].[DIM_Classificacao] ([idClassificacao])
GO
ALTER TABLE [dbo].[DIM_Produtos] CHECK CONSTRAINT [FK_DIM_Produtos_DIM_Classificacao]
GO
ALTER TABLE [dbo].[DIM_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Produtos_DIM_Composicao] FOREIGN KEY([idComposicao])
REFERENCES [dbo].[DIM_Composicao] ([idComposicao])
GO
ALTER TABLE [dbo].[DIM_Produtos] CHECK CONSTRAINT [FK_DIM_Produtos_DIM_Composicao]
GO
ALTER TABLE [dbo].[DIM_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Produtos_DIM_Estacao] FOREIGN KEY([idEstacao])
REFERENCES [dbo].[DIM_Estacao] ([idEstacao])
GO
ALTER TABLE [dbo].[DIM_Produtos] CHECK CONSTRAINT [FK_DIM_Produtos_DIM_Estacao]
GO
ALTER TABLE [dbo].[DIM_Produtos]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Produtos_DIM_PaisProducao] FOREIGN KEY([idPaisProducao])
REFERENCES [dbo].[DIM_PaisProducao] ([idPaisProducao])
GO
ALTER TABLE [dbo].[DIM_Produtos] CHECK CONSTRAINT [FK_DIM_Produtos_DIM_PaisProducao]
GO
ALTER TABLE [dbo].[FACT_Vendas]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Vendas_DIM_Clientes] FOREIGN KEY([idCliente])
REFERENCES [dbo].[DIM_Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[FACT_Vendas] CHECK CONSTRAINT [FK_FACT_Vendas_DIM_Clientes]
GO
ALTER TABLE [dbo].[FACT_Vendas]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Vendas_DIM_Dias] FOREIGN KEY([idDia])
REFERENCES [dbo].[DIM_Dias] ([idDia])
GO
ALTER TABLE [dbo].[FACT_Vendas] CHECK CONSTRAINT [FK_FACT_Vendas_DIM_Dias]
GO
ALTER TABLE [dbo].[FACT_Vendas]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Vendas_DIM_Produtos] FOREIGN KEY([idProduto])
REFERENCES [dbo].[DIM_Produtos] ([idProduto])
GO
ALTER TABLE [dbo].[FACT_Vendas] CHECK CONSTRAINT [FK_FACT_Vendas_DIM_Produtos]
GO
USE [master]
GO
